{extend name="foxcms" /}

{block name="css"}
{/block}

{block name="body"}
<input type="hidden" name="id" value="{$searchGroup.id}"/>
<div class="foxcms-content-inner">
    <!-- page content -->
    <div class="contact-way-content">
        <div class="section section-panel">
            <div class="section-title">编辑热词分组</div>
            <div class="section-main">
                <div class="section-main-item">
                    <div class="foxui-input-group">
                        <div class="input-label">
                            <label class="foxui-required">排序：</label>
                        </div>
                        <div class="input-box">
                            <input class="foxui-size-small" placeholder="请输入" name="sort" type="number" value="{$searchGroup.sort}"/>
                        </div>
                    </div>
                    <p class="input-box-info">
                        <span>数字越大，排名越靠前</span>
                    </p>
                </div>
                <div class="section-main-item">
                    <div class="foxui-input-group">
                        <div class="input-label">
                            <label>热词分组名称：</label>
                        </div>
                        <div class="input-box">
                            <div class="foxui-input-suffix">
                                <input class="foxui-size-small" maxlength="15" placeholder="请输入热词分组名称" name="name" value="{$searchGroup.name}"/>
                                <i class="foxui-suffix-icon foxui-suffix-count">0/30</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-main-item">
                    <div class="foxui-input-group">
                        <div class="input-label">
                            <label class="foxui-required">状态：</label>
                        </div>
                        <div class="input-box">
                            <div class="foxui-radio-group">
                                <div class="foxui-radio {if ($searchGroup->status) == 1} is-checked {/if}">
                                    <span class="foxui-radio-input">
                                        <i class="foxui-radio-icon"></i>
                                        <input type="radio" value="1"/>
                                    </span>
                                    <span class="foxui-radio-label">启用</span>
                                </div>
                                <div class="foxui-radio {if ($searchGroup->status) == 0} is-checked {/if}">
                                    <span class="foxui-radio-input">
                                        <i class="foxui-radio-icon"></i>
                                        <input type="radio" value="0"/>
                                    </span>
                                    <span class="foxui-radio-label">禁用</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="footed-copy"/}
<div class="foxcms-content-footer">
    <button class="is-long foxui-size-small foxui-solid-primary" id="save">保存</button>
</div>
{/block}

{block name="js"}

<script>

    //保存
    $('#save').click(function (){
        //排序
        let sort = $('input[name="sort"]').val()
        //名称
        let name = $('input[name="name"]').val();
        if(name == "" || !name){
            foxui.message({
                type:'info',
                text:'请输入热词分组标题'
            })
            return;
        }
        //图片
        let img_url = $('.img_url img').attr('src');
        //链接
        let link = $('input[name="link"]').val()

        let id = $('input[name="id"]').val()
        //状态
        let status = $('.foxui-radio.is-checked input').val();
        let datas ={"id": id, "sort": sort, "title":title, "img_url":img_url, "link":link, "status":status};

        let advertising_space_id = $('input[name="advertising_space_id"]').val();//广告位id
        //拉取会员属性
        // let feildUrl = ADMIN_PATH + '/AdvertisingSpace/getField?advertising_space_id=' + advertising_space_id;
        let feildUrl = "{:url('AdvertisingSpace/getField')}?advertising_space_id="+advertising_space_id;
        let saveData = getField($(".field"), feildUrl);
        let curData = Object.assign(datas, saveData);

        foxui.dialog({
            title: '保存',
            content: '您确定要保存吗',
            cancelText: '取消',
            confirmText: '保存',
            confirm: function (callback) {
                $.ajax({
                    type: "post",
                    url: 'edit',
                    dataType: "json",
                    data: curData,
                    success: function (res) {
                        if (res.code == 1) {
                            foxui.message({
                                type:'success',
                                text:res.msg
                            })
                            window.location.href=document.referrer;//返回并且刷新
                        } else {
                            foxui.message({
                                type:'danger',
                                text:res.msg
                            })
                        }
                    }, error: function (res) {
                        foxui.message({
                            type:'danger',
                            text:res.msg
                        })
                    }
                });
                callback();
            },
            cancel: function () {
                foxui.message({
                    type:'warning',
                    text:'取消操作'
                })
            },
        });

    })


</script>
{/block}
