<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link href="{fox:basic name='web_icon'/}" rel="icon" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="_STATIC_/skin/css/foxui-1.21.min.css" />
<link rel="stylesheet" href="_STATIC_/skin/css/animate.min.css" />
<link rel="stylesheet" href="_STATIC_/skin/css/swiper.min.css" />
<link rel="stylesheet" href="_STATIC_/skin/css/common.min.css" />
<script src="_STATIC_/skin/js/jquery-3.6.0.min.js"></script>
<script src="_STATIC_/skin/js/swiper.min.js"></script>
<script src="_STATIC_/skin/js/wow.min.js"></script>
