<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>网站地图</title>
    <link rel="stylesheet" href="/static/css/foxui-1.32.min.css" />
    <link rel="stylesheet" href="/static/404/css/404.min.css" />
</head>
<body>
<!-- 顶部 -->
<header class="foxui-bg-white foxui-border-bottom foxui-border-lighter">
    <div class="foxcms-header-pc foxcms-container foxui-hidden-sm foxui-hidden-xs">
        <div class="foxcms-logo">
            <img src="__basic.logo__" alt="" />
        </div>
        <div class="foxui-nav">
            <ul class="nav">
                <li>
                    <a class="foxui-link" href="">首页</a>
                </li>
                __nav.content__
            </ul>
            <div class="phone foxui-hidden-sm foxui-hidden-xs">
                <div class="phone-inner">
                    <i class="foxui-icon-dianhua-o foxui-margin-right-4 foxui-hidden-lg foxui-hidden-md"></i>
                    <h3 class="foxui-hidden-lg foxui-hidden-md">__contact.company_tel__</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="foxcms-header-h5 foxui-visible-sm foxui-visible-xs">
        <div class="nav-mask"></div>
        <div class="nav-content">
            <div class="nav-head">
                <i class="foxui-icon-liebiao-o"></i>
                <a href="" class="foxcms-logo">
                    <img src="__basic.logo__" alt="" />
                </a>
            </div>
            <div class="nav-menu">
                <div class="nav-menu-inner">
                    <ul>
                        __nav.content__
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- 主体内容 -->
<main class="foxui-bg-white sitemap">

    <div class="foxcms-container">
        <h1 class="foxui-border-bottom foxui-padding-top-40 foxui-padding-bottom-12">SiteMap 网站地图</h1>
        <div class="foxui-row foxui-gutter-y-6 foxui-gutter-x-xxxl-12 foxui-gutter-x-xxl-12 foxui-gutter-x-xl-12">
            __column.content__
        </div>
    </div>

    <div class="foxcms-container foxui-padding-top-32 foxui-border-top" style="margin-top: 60px">
        <h1 class="foxui-margin-bottom-24">文章</h1>
        <div class="foxui-margin-bottom-40">

            __ca.content__

        </div>
    </div>

    <footer>
        <div class="footer foxui-border-top">
            <p>
                <a href="https://www.foxcms.cn" class="foxui-link foxui-link-info" target="_blank">本站基于 FoxCMS 搭建，</a>
                <span>一款高效的多端跨平台内容管理系统</span>
            </p>
            <p>
                <a href="https://www.qianfox.com" class="foxui-link foxui-link-info" target="_blank">Powered by 黔狐科技</a>
            </p>
        </div>
    </footer>
</main>
</body>
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/foxui-1.32.min.js"></script>
<script>
    $(document).on('click', '.foxcms-header-h5 .foxui-icon-liebiao-o', function () {
        let $this = $(this),
            $container = $this.closest('.foxcms-header-h5');
        $this.removeClass('foxui-icon-liebiao-o').addClass('foxui-icon-guanbi-o');
        $container.find('.nav-mask').fadeIn(300);
        $container.find('.nav-menu').slideDown(300);
        $('body').css('overflow', 'hidden');
    });
    $(document).on('click', '.foxcms-header-h5 .foxui-icon-guanbi-o', function () {
        let $this = $(this),
            $container = $this.closest('.foxcms-header-h5');
        $this.removeClass('foxui-icon-guanbi-o').addClass('foxui-icon-liebiao-o');
        $container.find('.nav-mask').fadeOut(300);
        $container.find('.nav-menu').slideUp(300);
        $('body').css('overflow', 'auto');
    });
    $(document).on('click', '.foxcms-header-h5 .nav-mask', function () {
        $('.foxcms-header-h5 .foxui-icon-guanbi-o').click();
    });
</script>
</html>
